<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img class="logo-img" src="/img/header/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M27.125 7.75V10.3333H3.875V7.75H27.125ZM3.875 23.25H27.125V20.6667H3.875V23.25ZM3.875 16.7917H27.125V14.2083H3.875V16.7917Z"
        fill="#010101" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#flow">Puzzle Journey</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#rules">About</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#explore">Gameplay</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#calm">Levels</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <a class="download-link-desk"
            href="https://play.google.com/store/apps/details?id=com.ig.water.escape&hl=en&gl=us">
            <img src="/img/header/icon.png" alt="download" loading="lazy">
            <p>Get on Google Play</p>
        </a>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#flow">Puzzle Journey</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#rules">About</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#explore">Gameplay</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#calm">Levels</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
    </ul>
    <a class="download-link" href="https://play.google.com/store/apps/details?id=com.ig.water.escape&hl=en&gl=us">
        <img src="/img/header/icon.png" alt="download" loading="lazy">
        <p>Get on Google Play</p>
    </a>
</div>