.footer {
background: #252d8a;
margin-top: -1px;
}
.footer-container {
  padding: 32px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
font-family: "Merge One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-text {
  margin-top: 50px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 1440px) {
  .footer-container {

    font-size: 18px;
  }

  .footer-navigation {
width: 548px;
  }
}